g.bars > .bar.positive {
	fill: $red;
}

g.bars > .bar.negative {
	fill: $red-light;
}

svg.bargraph text {
	font: 10px sans-serif;
}

g.barlabels > text.barlabel {
	text-anchor: middle;
	fill: black;
}

g.axis path,
g.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

g.background {
	fill: #fff;
}

g.grid line {
	fill: none;
	stroke: $gray-light;
	shape-rendering: crispEdges;
	opacity: 0.75;
}