g.bars > .bar.positive {
	fill: $red;
}

g.bars > .bar.negative {
	fill: $red-light;
}

g.barLabels > text.barLabel {
	font: 10px sans-serif;
	text-anchor: middle;
	fill: black;
}

g.axis text {
	font: 10px sans-serif;
}

g.axis path,
g.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

g.background {
	fill: #fff;
}

g.grid line {
	fill: none;
	stroke: #c2c2c2;
	shape-rendering: crispEdges;
	opacity: 0.75;
}