g.bars > .bar.positive {
	fill: steelblue;
}

g.bars > .bar.negative {
	fill: brown;
}

g.barLabels > text.barLabel {
	fill: white;
	font: 10px sans-serif;
	text-anchor: middle;
}

g.axis text {
	font: 10px sans-serif;
}

g.axis path,
g.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}