@import "compass/css3/border-radius";

$bg-image: url('../img/bg.jpg');
$texture: url('../img/pattern_small.png');
$panel-border-width: 2px;
$tab-bg: #999;
$padding: 20px;
$left-panel-width: 200px;

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin panel-dropshadow(){
  $alpha: 0.35;
  $blur: 18px;
  $v: 2px;
  -webkit-box-shadow: 0 $v $blur 0 rgba(0,0,0,$alpha);
  box-shadow: 0 $v $blur rgba(0,0,0,$alpha);
}

@mixin dd-shadow() {
  $alpha: 0.5;
  $blur: 2px;
  $v: 1px;
  -webkit-box-shadow: 0 $v $blur 0 rgba(0,0,0,$alpha);
  box-shadow: 0 $v $blur rgba(0,0,0,$alpha);
}

@mixin button-style() {
  $alpha: 0.5;
  $blur: 1px;
  $v: 1px;
  -webkit-box-shadow: 0 $v $blur 0 rgba(0,0,0,$alpha);
  box-shadow: 0 $v $blur rgba(0,0,0,$alpha);
  &:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    position:relative;
    top: 1px;
  }
}

@mixin border-radius( $radius ) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin user-select( $select ) {
  -moz-user-select: $select;
  -khtml-user-select: $select;
  -webkit-user-select: $select;
  -ms-user-select: $select;
  -moz-user-select: $select;
  -o-user-select: $select;
  user-select: $select;
  &:focus, &:active {
    -moz-user-select: $select;
    -khtml-user-select: $select;
    -webkit-user-select: $select;
    -ms-user-select: $select;
    -moz-user-select: $select;
    -o-user-select: $select;  
    outline: none;
  }

  outline: none;

}

@mixin box-sizing( $sizing ) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

@mixin text-dropshadow(){
  text-shadow: 0px 1px 6px rgba(0,0,0,0.5);
}

body {
    font-family: $font-family;
    color: #333;
}
nav #logo {
  display: inline-block;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -0.06em;
  line-height: 1.75em;
  padding: 0px 10px;
  .logo2 {
    color: $green;
  }
}

nav section ul li a.wrapper {
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
  input {
      cursor: pointer;
      opacity: 0;
      color: rgba(0,0,0,0);
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      font-size: 80px; /* some huge for cursor pointer hack */
  }
}

.top-bar { 
  .top-bar-section {
    li:not(.has-form) a:not(.button) {
      &:hover {
        background-image: $texture;
      }
    }
    ul > li > a {
      &.disabled {
        color: rgba(255,255,255,0.4);
         &:hover {
          background-color: #000;
        }
      }
      i {
        margin-right: 5px;
      }
    }    
  }
}
#workspace {
  padding: $padding;
  background-image: $bg-image;
}
div.left-main {
  //position: relative;
  //top: 0px;
  //border: solid 2px #333;
  width: $left-panel-width;
  float: left;
  .header {
    line-height: 1.6em;
    color:#fff;
    text-align: center;
    @include border-top-radius(6px);
    @include text-dropshadow();
    background-image: $texture;
    background-color: $gray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    i {
      margin-right: 7px;
    }
  }
  .body {
    @include panel-dropshadow();
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 10px 10px;
    overflow: auto;
      
    .mmp {
      $spacing: 5px;
      //@include border-radius( 4px );
      
      padding: 10px 5px 10px 5px;
      font-size: 0.85em;
      margin: 0;
      &.selected {
        background-color: #f2f2f2;  
      }
      &:not(:last-child) {
        border-bottom:solid 1px #ccc;
      }
      // selected style
      .selectable {
        $color: $gray;
        $pct: 23%;
        padding: 3px;
        @include border-radius( 4px );
        cursor: pointer;
        &.selected {
          background-color: $color;
          color: #fff;
          cursor: default;
          background-image: $texture;
          &:hover {
            background-color: $color;
            background-image: $texture;
            color: #fff;
          }
          &:active {
            background-color: $color;
            background-image: $texture;
            color: #fff;
          }
        }
        &:hover {
            background-color: lighten($color, $pct);    
        }
        &:active {
            background-color: lighten($color, $pct);    
        }
      }
      i {
          margin-right:5px;
      }

      // file name div
      .map {
        margin-bottom: $spacing;
      }
      .scenarios {
        $indent: 15px;
        width: calc(100% - 15px);
        margin-left: $indent;

        .scenarios-header {
          font-style: italic;
          margin-bottom: $spacing;
          cursor: pointer;
        }

        .add-scenario {
          $h: 1.5em;
          font-size:0.8em;
          line-height: $h;
          height: $h;
          //float: right;
          @include border-radius( 4px );
          @include button-style();
          @include user-select( none );
          padding: 0 7px;
          background-color: $green;
          margin: 0;
          &:hover {
            background-color: darken($green, 5%);
          }
        }

        // collapsable scenarios div
        .scenarios-list {
          .scenario {
            &:not(:last-child) {
            }
          }
        }
      }
    }
  }
}
#footer {
  width: 100%;
  height: 0px;
  background-color: #000;
}
.scroll-panel {
  display: inline-block;
  height: 500px;
  overflow: auto;
}
.app-panel {
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  background-color: transparent;
}
div#header ul a {
  @include text-dropshadow();
  //text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
  //text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
div.right-main {
  
  $font-size: 0.75em;
  $line-height: 1.25em;
  $border-color: #cecece; //#d2d2d2;
  $max-cell-width: 6em;
  $min-cell-size: 100px;

  box-sizing: border-box;
  width: calc(100% - 200px);
  //border-left: solid $panel-border-width #000;
  padding-left: $padding;
  
  div.tab-panel {
    //-webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
    //box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
    table{
      border:none;
      td {
        // min-height: $min-cell-size;
        // min-width: $min-cell-size;
        font-size: $font-size;
        line-height: $line-height;
        // max-width: $max-cell-width;
        // word-wrap: break-word;
        ul.f-dropdown {
          @include border-radius( 6px );
          width: auto;
          min-width: 3em;
          li a {
            padding: 2px 4px 2px 4px;
            text-align: center;
            font-weight: bold;
            font-size: 1.25em;
          }
        }    
      }
      thead {
        tr {
          border-bottom: solid 1px $border-color;
          background-color: lighten( $gray, 30%);
          color: #fff;
          td {
            padding: 2px 7px;
            &:nth-child(n+2) {
              border-left: solid 1px $border-color;  
            }
          }
        }
      }
      tbody {
        tr {
          background-color: #fff;
          &:nth-child(2n) {
            background-color: lighten( $gray, 35%);
          }   
          td {
            background-color: none;
            a.button.dropdown {
                $color: #333;
                background-color: rgba(0, 0, 0, 0);
                color: $color;
                @include border-radius( 4px );
                padding: 0px 20px 3px 5px;
                margin: 0;
                &:before {
                  border-top-color: $color;
                  right: 0.3rem;
                  border-width: 0.3rem;
                  border-top-width: 0.4rem;
                }
            }
            &:nth-child(n+2) {
              border-left: solid 1px $border-color;  
            }
            &.node {
              font-weight: bold;
              padding: 7px 8px;
            }
          }
        }
      }
    }
  }
  div.tabs-content {
    padding: 10px;
    background-color: #fff;
    position: relative;
    z-index: 3;
    margin: 0;
    //border: solid 2px #333;
    border-top: none;
    overflow: hidden;
    @include panel-dropshadow();
    > div.content {
      display: none;
      width: 100%;
      height: 100%;
      padding: 0;
      overflow: auto;
      &.active {
        height: 100%;
        display: block;
      }
    }
    /*
     *  Modeling Panel
     */
    > div.content#panel-modeling {
        display: block;
        height: 0;
        overflow: hidden;
        #flash-model {
          width: 100%;
          height: 100%;
          border: solid 0px #999;
          background-color: #ccc;
          //border-top: none;
        }
        &.active {
          #flash-model {
            border-width: 1px;
          }
        }
    }
    /*
     *  Scenario Panel
     */
    > div.content#panel-scenario > div.scenario { 
      $scenario-panel-left-width: 200px;
      max-width: none;
      > div {
        @include box-sizing(border-box);
        display:inline-block;
        vertical-align: top;

        &.panel-right {
          width: calc(100% - 221px);
          background-color:#f2f2f2;
          height: 300px;
        }  

        &.panel-left {
          width: $scenario-panel-left-width;
          margin: 0 16px 0 0;
          padding-left: 0;
          //overflow: auto;
          label {
            margin-bottom: 0.35rem;
          }
          #scenarioTable {
            overflow: auto;
          }
          button {
            width: 100%;
            $h: 2em;
            font-size:1em;
            line-height: $h;
            height: $h;
            //float: right;
            @include border-radius( 4px );
            @include user-select( none );
            @include button-style();
            padding: 0 7px;
            background-color: $red;
            margin: 0 0 15px 0;
            i {
              margin-right:7px;
            }
            &:hover {
              background-color: darken( $red, 5% );
            }
          }
          textarea {
            @include border-radius(6px);
            padding: 3px 5px;
            outline: none;
            resize: none;
            min-height: 2em;
            height: 2em;
            margin-bottom:10px;
            /*
            &:active, &:focus {
              -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
              box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            }
            */
          }
        
          table{
            height: 200px;
            thead, tbody {
              tr > td {
                $padding: 5px;
                min-width: 33%;
                max-width: 33%;
                width: 33%;
                word-break: break-all;
                padding: padding;
                &.col-1 {
                  min-width: 10%;
                  max-width: 10%;
                  width: 10%;
                }
                &.col-2 {
                  min-width: 60%;
                  max-width: 60%;
                  width: 60%;
                }
                &.col-3 {
                  min-width: 30%;
                  max-width: 30%;
                  width: 30%;
                  padding: $padding 3px;
                }

                input[type="checkbox"] {
                  margin:0;
                }
                select {
                  background-position-x: 85%;
                  border:none;
                  outline:none;
                  background-color: transparent;
                  padding: 2px 0px 2px 1px;
                  margin: 0;
                  font-size: 1.2em;
                  height:auto;
                  cursor: pointer;
                  text-align: center;
                  @include border-radius( 4px );
                  &:hover {
                    background-color: rgba(255,255,255,0.25);
                    @include dd-shadow();

                  }
                }
              }
            }
          }
        }
      }
    }
    /*
     *  info Panel
     */
    > div.content#panel-info {
      background-color: #f4f4f4;
      .info {
        height: 100%;
        width:100%;
        padding: 30px;
        label {
          margin-bottom: 0.35rem;
        } 
        textarea {
          @include border-radius(6px);
          outline: none;
          margin-bottom: 1.5rem;  
          resize: vertical;
          height: auto;
          &.single-line {
            resize: none;
            min-height: 2.75em;
            height:2.75em;
          }
          &#descriptionText {
            height: calc(100% - 185px);
            min-height: 5em;
          }
        }
      }
    }
    /*
     *  Grid Panel
     */
    > div.content#panel-grid {
    }
  }
  /*
   *  Content Tabs
   */
  dl.tabs {
    dd {
      text-align: center;
      padding: 0;
      background-image: url('../img/pattern_small.png');
      @include border-top-radius(6px);
      a {
        // @include linear-gradient($tab-bg, scale-color($tab-bg, $lightness: -40%));
        background-color: transparent;
        color: #fff;
        padding: 0.5em 0;
        position: relative;
        top: 0px;
        //border: solid 2px #333;
        border-bottom-width: 3px;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        @include text-dropshadow();
        //-webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
        //box-shadow: 0 0 12px rgba(0,0,0,0.5);
        white-space: nowrap;
      }
      i {
        margin-right:5px;
      }
      //@include border-top-radius(6px);
      position:relative;
      top: 0px;
      &:nth-child(1) {
        &:hover {
          background-color: rgba($green, $tab-alpha);
        }
        &.active {
          background-color: rgba( darken( $green, 10% ), 1);;
        }
      }
      &:nth-child(2) {
        &:hover {
          background-color: rgba($purple, $tab-alpha);
        }
        &.active {
          background-color: $purple;
        }
      }
      &:nth-child(3) {
        &:hover {
          background-color: rgba($red, $tab-alpha);
        }
        &.active {
          background-color: rgba( darken( $red, 10% ), 1);
        }
      }
      &:nth-child(4) {
        &:hover {
          background-color: rgba($yellow, $tab-alpha);
        }
        &.active {
          background-color: $yellow;
        }
      }
      &.hover {

      }
      &.active {
      //-webkit-box-shadow: inset 0 -3px 4px 0 rgba(0,0,0,0.2);
      //box-shadow: inset 0 -3px 4px 0 rgba(0,0,0,0.2);
        top: 0;
        //background: #fff;  
        a {
          top: 0px;
          position: relative;
          z-index: 2;
          //text-shadow: none;
          //text-decoration: underline;
          //-webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
          //box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
          color: #fff; //#000;
          border-top-width: 2px;
          border-bottom-width: 0px;
          border-left-width: 2px;
          border-right-width: 2px;
        }
      }
    }
  }
    
}
