@media print {
    #app, 
    .Print__screenshot-overlay, 
    .screenshot__message, 
    .screenshot__spinner, 
    .screenshot__text {
        display: none;
    }

    @page {
        size: landscape;
        margin: 0.5cm;
    }

    .no-break {
        display: block;
        break-before: always;
        break-inside: avoid;
    }
}

#printArea {
    display: none;
}

.printable {
    height: unset !important;
    overflow: visible !important;
    width: 100% !important;
}

.panel-left.printable,
.panel-right.printable {
    width: 90% !important;
}

.printable td {
    min-width: 1% !important;
    max-width: 1% !important;
    width: 1% !important;
}

.printable td.col-2 {
    min-width: 5% !important;
    max-width: 5% !important;
    width: 5% !important;
}

.Print__screenshot-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .screenshot__spinner {
        position: absolute;
        $size: 40px;
        width: $size;
        height: $size;
        border-radius: $size;
        border: 5px solid rgba(255, 255, 255, 0.2);
        border-top-color: #fff;
        transform-origin: center;
        animation: rotate-screenshot-meesage 500ms ease infinite;
    }

    .screenshot__message {
        position: relative;
        bottom: 60px;
        color: #fff;
        font-size: 24px;
    }

    .screenshot__text {
        margin-left: 60px;
        line-height: 40px;
        vertical-align: middle;
    }
}

@keyframes rotate-screenshot-meesage {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}