<script type="text/template" class="template">
	<div class='tab-panel'>
		<dl class="tabs" data-tab>
			<dd class="active medium-3 column" ><a href="#panel-modeling">Modeling</a></dd>
			<dd class="medium-3 column"><a href="#panel-grid">Grid</a></dd>
			<dd class="medium-3 column"><a href="#panel-scenario">Scenario</a></dd>
			<dd class="medium-3 column"><a href="#panel-info">Info</a></dd>
		</dl>
		<div class="tabs-content">
			<div class="content active" id="panel-modeling">
				<p>Second panel content goes here...</p>
			</div>
			<div class="content" id="panel-grid">
			</div>
			<div class="content" id="panel-scenario">
			</div>
			<div class="content " id="panel-info">
			</div>
		</div>
	</div>
</script>