<script type="text/template" class="template">
	<div class='tab-panel'>
		<dl class="tabs" data-tab>
			<dd class="active medium-3 column" ><a href="#panel-modeling"><i class="fa fa-sitemap"></i>Model</a></dd>
			<dd class="medium-3 column"><a href="#panel-grid"><i class="fa fa-th"></i>Grid</a></dd>
			<dd class="medium-3 column"><a href="#panel-scenario"><i class="fa fa-play-circle"></i>Scenario</a></dd>
			<dd class="medium-3 column"><a href="#panel-info"><i class="fa fa-info-circle"></i>Info</a></dd>
		</dl>
		<div class="tabs-content">
			<div class="content active" id="panel-modeling">
				<p>Second panel content goes here...</p>
			</div>
			<div class="content" id="panel-grid">
			</div>
			<div class="content" id="panel-scenario">
			</div>
			<div class="content " id="panel-info">
			</div>
		</div>
	</div>
</script>