<script type="text/template" class="template">
	<table id="exportMatrix">
	  <tbody>
	  	<tr>
	  		<td></td>
	  		<% for (var i=0; i<concepts.length; i++) { var concept = concepts[i]; %>
	  			<td><%= concept.name %></td>
	  		<% } %>
	  	</tr>
	  	<% for (var i=0; i<concepts.length; i++) { var concept = concepts[i]; %>
	    <tr data-id="<%= concept.id %>">
	    	<td class="node"><%= concept.name %></td>
	    	<% for (var j=0; j<concepts.length; j++) { var influenceeId = concepts[j].id; var label = concept.relationships[ influenceeId ]; var hasNoValue =  label === 'undefined' || label === undefined; var addElem = j != i;%>
	    		<td><%= label %></td>
	    	<% } %>
	    </tr>
	    <% } %>
	  </tbody>
	</table>
</script>