<script type="text/template" class="template">
	<table>
	  <thead>
	  	<tr>
	  		<td></td>
	  		<% for (var i=0; i<concepts.length; i++) { var concept = concepts[i]; %>
	  			<td><%= concept.name %></td>
	  		<% } %>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% for (var i=0; i<concepts.length; i++) { var concept = concepts[i]; %>
	    <tr>
	    	<td class="node"><%= concept.name %></td>
	    	<% for (var j=0; j<concepts.length; j++) { var influenceeId = concepts[j].id; var label = concept.relationships[ influenceeId ]; if (typeof label === 'undefined') { label = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" }%>
	    		<td>
	    			<a href="#" data-dropdown="drop" class="button dropdown"><%= label %></a><br>
					<ul id="drop" data-dropdown-content class="f-dropdown">
					  <li><a href="#">+++</a></li>
					  <li><a href="#">++</a></li>
					  <li><a href="#">+</a></li>
					  <li><a href="#">&nbsp;&nbsp;&nbsp;</a></li>
					  <li><a href="#">-</a></li>
					  <li><a href="#">---</a></li>
					  <li><a href="#">---</a></li>
					</ul>
	    		</td>
	    	<% } %>
	    </tr>
	    <% } %>
	  </tbody>
	</table>
</script>