<script type="text/template" class="template">
	<table class="">
	  <thead>
	  	<tr>
	  		<td></td>
	  		<% for (var i=0; i<concepts.length; i++) { var concept = concepts[i]; %>
	  			<td><%= concept.name %></td>
	  		<% } %>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% for (var i=0; i<concepts.length; i++) { var concept = concepts[i]; %>
	    <tr data-id="<%= concept.id %>">
	    	<td class="node"><%= concept.name %></td>
	    	<% for (var j=0; j<concepts.length; j++) { var influenceeId = concepts[j].id; var label = concept.relationships[ influenceeId ]; %>
	    		<td data-id="<%= influenceeId %>">
	    			<% if ( j !== i) { %>
		    			<select>
							  <option value="H+" <%= label === "H+" ? "selected" : "" %> >+++</option>
							  <option value="M+" <%= label === "M+" ? "selected" : "" %> >++</option>
							  <option value="L+" <%= label === "L+" ? "selected" : "" %> >+</option>
							  <option value="" <%= label === 'undefined' || label === undefined ? "selected" : "" %> ></option>
							  <option value="L-" <%= label === "L-" ? "selected" : "" %> >-</option>
							  <option value="M-" <%= label === "M-" ? "selected" : "" %> >--</option>
							  <option value="H-" <%= label === "H-" ? "selected" : "" %> >---</option>
						</select>
					<% } %>
	    		</td>
	    	<% } %>
	    </tr>
	    <% } %>
	  </tbody>
	</table>
</script>