<script type="text/template" class="template">
	<table class="">
	  <thead>
	  	<tr>
	  		<td></td>
	  		<% for (var i=0; i<concepts.length; i++) { var concept = concepts[i]; %>
	  			<td><%= concept.name %></td>
	  		<% } %>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% for (var i=0; i<concepts.length; i++) { var concept = concepts[i]; %>
	    <tr data-id="<%= concept.id %>">
	    	<td class="node"><%= concept.name %></td>
	    	<% for (var j=0; j<concepts.length; j++) { var influenceeId = concepts[j].id; var label = concept.relationships[ influenceeId ]; var hasNoValue =  label === 'undefined' || label === undefined; var addElem = j != i;%>
	    		<td class="<%= addElem ? 'mutable' : '' %><%= hasNoValue ? '' : ' hasValue' %>" data-id="<%= influenceeId %>">
	    			<% if ( addElem ) { %>
		    			<input class="input" type="text" maxlength="5" value="<%= label %>"><i class="fa fa-caret-down"></i>
		    			<input type="range" class="slider" min="-1" max="1" step=".01" value="<%= label %>" >
					<% } %>
	    		</td>
	    	<% } %>
	    </tr>
	    <% } %>
	  </tbody>
	</table>
</script>