<script type="text/template" class="template">
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<div id="logo">Mental<span class="logo2">Modeler</span></div>
		    </li>
		    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
		</ul>

		<section class="top-bar-section">
			<!-- Right Nav Section -->
		    <ul class="">
		    	<li class="divider"></li>
		    	<li class="first"><a id="newFile" href="#"><i class="fa fa-file-text"></i>New</a></li>
		     	<li class="divider"></li>
		     	<li><a class="wrapper"><i class="fa fa-download"></i>Load<input id="load-file" placeholder="text" type="file" multiple/></a></li>
		     	<li class="divider"></li>
		    	<li><a id="saveFile" href="#"><i class="fa fa-save"></i>Save</a></li>
		    	<li class="divider"></li>
		    	<li><a id="deleteFile" href="#"><i class="fa fa-trash-o"></i>Remove</a></li>
		    	<li class="divider"></li>
		    	<li><a id="exportCsv" href="#"><i class="fa fa-upload"></i>Export CSV</a></li>
		    	<li><a id="exportXls" href="#"><i class="fa fa-upload"></i>Export XLS</a></li>
		    </ul>
		</section>
	</nav>
</script>