<script type="text/template" class="template">
	<div class="map selectable"><i class="fa fa-sitemap"></i><%= model.infoModel.get('name') %></div>
	<div class="scenarios">
		<div class="scenarios-header"><i class="expand fa fa-minus-square-o"></i><i class="collapse fa fa-plus-square-o" style="display:none"></i>Scenarios
			<button class="add-scenario">ADD</button>
		</div>
		<% if ( model.scenarioCollection.length > 0 ) { %>
		<div class="scenarios-list expanded">
			<% for (i=0; i<model.scenarioCollection.length; i++) { var scenario = model.scenarioCollection.at(i); %>
				<div class="scenario selectable"><i class="expand fa fa-play-circle"></i><%= scenario.get('name') %></div>
			<% } %>
		</div>
		<% } %>
	</div>
</script>