<script type="text/template" class="template">
	<div class="panel-left">
		<div id="preferredTable">
			<table>
			  <thead>
			  	<tr>
			  		<td class="col-1">Component</td>
			  		<td class="col-2">Preferred State</td>
			  	</tr>
			  </thead>
			  <tbody>
			  	<% for (var i=0; i<concepts.length; i++) { var concept = concepts[i]; hasNoValue = !concept.preferredState || concept.preferredState === "0"; %>
			  	<tr data-id="<%= concept.id %>" <%= hasNoValue ? "" : "class='hasValue'" %> >
			    	<td class="col-1"><%= concept.name %></td>
			    	<td class="col-2 mutable">
			    		<select <%= hasNoValue ? "" : "class='hasValue'" %> >
						 	<option value="1" <%= concept.preferredState  > 0 ? "selected" : "" %> >Increase</option>
							<option value="0" <%= !concept.preferredState || !concept.preferredState === 0 ? "selected" : "" %> ></option>
						  	<option value="-1" <%= concept.preferredState  < 0 ? "selected" : "" %> >Decrease</option>
						</select>
			    	</td>
			    </tr>
			    <% } %>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="panel-right">
		<div class='metrics'>
			Structural Metrics coming soon...
		</div>
	</div>
</script>