<script type="text/template" class="template">
	<div class="panel-left">
		<textarea id="scenarioName" placeholder="Scenario Name"><%= name === 'New Scenario' ? "" : name %></textarea>
		<button id="refreshScenario"><i class="fa fa-refresh"></i>Refresh Scenario</button>
		<div id="scenarioTable">
			<table>
			  <thead>
			  	<tr>
			  		<td class="col-1"></td>
			  		<td class="col-2">Component</td>
			  		<td class="col-3">+/-</td>
			  	</tr>
			  </thead>
			  <tbody>
			  	<% for (var i=0; i<concepts.length; i++) { var concept = concepts[i]; %>
			  	<tr data-id="<%= concept.id %>">
			    	<td class="col-1"><input type="checkbox" name="selected" <%= concept.selected ? "checked" : ""%> ></td>
			    	<td class="col-2"><%= concept.name %></td>
			    	<td class="col-3">
			    		<select>
						  <option value="H+" <%= concept.influence === "H+" ? "selected" : "" %> >+++</option>
						  <option value="M+" <%= concept.influence === "M+" ? "selected" : "" %> >++</option>
						  <option value="L+" <%= concept.influence === "L+" ? "selected" : "" %> >+</option>
						  <option value="" <%= concept.influence === "" ? "selected" : "" %> ></option>
						  <option value="L-" <%= concept.influence === "L-" ? "selected" : "" %> >-</option>
						  <option value="M-" <%= concept.influence === "M-" ? "selected" : "" %> >--</option>
						  <option value="H-" <%= concept.influence === "H-" ? "selected" : "" %> >---</option>
						</select>
			    	</td>
			    </tr>
			    <% } %>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="panel-right">
	</div>
</script>