<script type="text/template" class="template">
	<div class="panel-left">
		<textarea id="scenarioName" placeholder="Scenario Name"></textarea>
		<button><i class="fa fa-refresh"></i>Refresh Scenario</button>
		<table>
		  <thead>
		  	<tr>
		  		<td class="col-1">Chart</td>
		  		<td class="col-2">Component</td>
		  		<td class="col-3">Change</td>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr>
		    	<td class="col-1">chart?</td>
		    	<td class="col-2">component</td>
		    	<td class="col-3">change</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="panel-right">
	</div>
</script>