<script type="text/template" class="template">
	<div class="panel-left">
		<textarea id="scenarioName" placeholder="Scenario Name"></textarea>
		<button><i class="fa fa-refresh"></i>Refresh Scenario</button>
		<table>
		  <thead>
		  	<tr>
		  		<td class="col-1">Show</td>
		  		<td class="col-2">Component</td>
		  		<td class="col-3">Change</td>
		  	</tr>
		  </thead>
		  <tbody>
		  	<% for (var i=0; i<concepts.length; i++) { var concept = concepts[i]; %>
		  	<tr>
		    	<td class="col-1"><%= concept.selected %></td>
		    	<td class="col-2"><%= concept.name %></td>
		    	<td class="col-3"><%= concept.influence %></td>
		    </tr>
		    <% } %>
		  </tbody>
		</table>
	</div>
	<div class="panel-right">
	</div>
</script>